/* Estilo del menú */
.nav-bar {
    display: flex;
    gap: 20px;
    height: 4rem;
    justify-content: center;
    background-color: #303030;

    ul {
        display: flex;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        gap: 2rem;

        li {
            position: relative;

            a {
                text-decoration: none;
                color: whitesmoke;
                transition: color 0.3s ease;
            }

            a::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #a4a4a4;
                transition: width 0.3s ease;
            }

            a:hover {
                color: #a4a4a4; 
            }

            a:hover::after {
                width: 100%;
            }
        }
    }
}